<section class="bg-gray-50 dark:bg-gray-500">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-o dark:bg-gray-200 dark:border-gray-300">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-6">
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
          <div>
            <input
              id="profilePicture"
              type="file"
              accept="image/*"
              style="display: none"
              (change)="onFileChange($event)"
            />

            <img
              [src]="previewImageUrl"
              alt="Profile Picture"
              style="width: 64px; height: 64px; border-radius: 50%; cursor: pointer; margin: auto;"
              (click)="triggerFileInput()"
            />
          </div>


          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-500 dark:text-black">Username:</label>
            <input id="username" formControlName="username" type="text"
              class="bg-gray-50 border border-r-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-r-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <div *ngIf="updateForm.get('username')?.invalid && updateForm.get('username')?.touched">
              <small *ngIf="updateForm.get('username')?.hasError('required')">Username is required.</small>
              <small *ngIf="updateForm.get('username')?.hasError('minlength')">Username must be at least 3 characters.</small>
            </div>
          </div>

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email:</label>
            <input id="email" formControlName="email" type="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <div *ngIf="updateForm.get('email')?.invalid && updateForm.get('email')?.touched">
              <small *ngIf="updateForm.get('email')?.hasError('required')">Email is required.</small>
              <small *ngIf="updateForm.get('email')?.hasError('email')">Enter a valid email.</small>
            </div>
          </div>

          <div>
            <label for="bio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Bio:</label>
            <textarea id="bio" formControlName="bio" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
            <div *ngIf="updateForm.get('bio')?.invalid && updateForm.get('bio')?.touched">
              <small *ngIf="updateForm.get('bio')?.hasError('maxlength')">Bio cannot exceed 500 characters.</small>
            </div>
          </div>

          <button type="submit" [disabled]="updateForm.invalid" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Update</button>

          <div *ngIf="message" style="color: green">{{ message }}</div>
        </form>
      </div>
    </div>
  </div>
</section>

